/* Main Photo */
.photo-01 {
    background: url("../images/01.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px; }

/* Timeline */
.timeline-samuel-01,
.timeline-samuel-02,
.timeline-samuel-03,
.timeline-samuel-04 {
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }

.timeline-samuel-01 {
    background: url("../images/01.jpg");
    background-position: center;
    background-size: cover; }

.timeline-samuel-02 {
    background: url("../images/02.jpg");
    background-position: center;
    background-size: cover; }

.timeline-samuel-03 {
    background: url("../images/03.jpg");
    background-position: center;
    background-size: cover; }

.timeline-samuel-04 {
    background: url("../images/04.jpg");
    background-position: center;
    background-size: cover; }

/*# sourceMappingURL=samuel.css.map */